.dsk-wrap {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#navMenu,
#sgnOut {
  color: #f7f7f7;
  font-size: 24px;
}

#navMenu li {
  display: inline-block;
  margin: 0 10px;
}

#sgnOut {
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
}
