@import url('../../App.css');

#usr_img {
  width: 35px;
  height: 35px;
  padding: 2.5px;
  border-radius: 100%;
  background: var(--primary-dark);
  margin-right: 10px;
  overflow: hidden;
}

#usr_img img {
  width: 100%;
}

#usr_name {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

#usr_wrapper {
  text-decoration: none;
  color: inherit;
  width: 95%;
  max-width: 250px;
  display: flex;
  align-items: center;
  padding: 5px;
}
