@import url('../../App.css');

.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem 0.25rem;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  grid-column-gap: 20px;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 1;
}

#del {
  color: inherit;
}

#ctrl_panel {
  display: flex;
  max-width: 175px;
}

#ctrl_panel button {
  background: var(--primary-dark);
  color: #f7f7f7;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
  margin: 0 5px;
  transition: color 500ms ease-in-out;
}

#ctrl_panel button:hover {
  color: var(--primary-accent);
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .container {
    display: block;
  }

  #ctrl_panel {
    margin-bottom: 20px;
  }
}
