@import url('../../App.css');

#sgn_form label {
  font-size: 1.75rem;
}

.container {
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding: 1rem 0.25rem;
  background: var(--secondary-light);
  border-radius: 5px;
}

.container div {
  margin: 1rem 0;
}

#sgn_form {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  padding: 1rem;
}

#sgn_header {
  margin-bottom: 15px;
  text-align: center;
  grid-column: 1/3;
  letter-spacing: 1.5px;
}

#sgn_form button {
  margin-top: 20px;
  grid-column: 1/3;
  height: 35px;
  font-size: 1.3rem;
  background: var(--primary-dark);
  color: var(--primary-light);
  border: none;
  border-radius: 3px;
}

#sgn_form input {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 1px 3px;
}

#sgn_form input:focus {
  border: 1px solid var(--primary-accent);
  outline: none;
}

@media screen and (max-width: 500px) {
  #sgn_form {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .sgn_label,
  #sgn_form input {
    grid-column: 1;
  }

  #sgn_form input {
    height: 25px;
  }
}
