@import url('../../App.css');

.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem 0.25rem;
}

#edt_wrapper {
  max-width: 800px;
  margin: auto;
}

#img_wrapper {
  height: 200px;
  width: 90%;
  max-width: 300px;
  border-radius: 100%;
  position: relative;
}

#img_wrapper img {
  width: 100%;
  height: auto;
}

#edt_image {
  margin-bottom: 15px;
}

.edt_label {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#edt_form div {
  margin-bottom: 15px;
}

#edt_form input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 1px 3px;
  width: 100%;
  height: 30px;
  font-size: 1.1rem;
}

#edt_form textarea {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#edt_form input:focus,
#edt_form textarea:focus {
  border: 1px solid var(--primary-accent);
  outline: none;
}

#edt_form button {
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 35px;
  font-size: 1.3rem;
  background: var(--primary-dark);
  color: var(--primary-light);
  border: none;
  border-radius: 3px;
  transition: color 500ms ease-in-out;
}

#edt_form button:hover {
  color: var(--primary-accent);
  cursor: pointer;
}

#edt_form textarea {
  width: 100%;
  height: 50px;
  padding: 2px 5px;
  font-size: 1.1rem;
  resize: none;
}

#upld {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

@media screen and (min-width: 640px) {
  #edt_wrapper {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
  }

  #edt_image {
    padding-top: 25px;
  }
}

@media screen and (max-width: 639px) {
  #edt_form {
    margin: auto;
    max-width: 500px;
  }

  #img_wrapper {
    max-width: 130px;
  }
}
