@import url('../../App.css');

.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem 0.25rem;
}

#heading {
  margin-bottom: 20px;
}

#pst_body {
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
}

#time_stmp {
  padding-left: 10px;
}
