* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-dark: #2d3142;
  --secondary-dark: #4f5d75;
  --primary-light: #ffffff;
  --secondary-light: #bfc0c0;
  --primary-accent: #ef8354;
  --error-bkgrd: #ffe9ea;
  --error-msg: #e40126;
}

#main {
  padding-top: 60px;
}
